*.picasa.ini
*.tdo
*.aux
*.tmp
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.synctex
*.synctex(busy)
*abbrev_list.aux
*.tps
*.sublime-workspace
*.local.tcp
*.pdf
*.synctex.gz
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.xdv
.idea
\#*\#
